.qualification__content{
   display: flex;
   flex-direction: column;
   row-gap: 2rem;
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2rem 4rem;
    border-radius: 1.25rem;
    
}

.qualification__calendar{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1rem;
}


.qualification__calendar,
.qualification__degree{
    margin-left: 2rem;
}

.qualification__tabs{
    text-align: center;
    font-size: large;
    color: var(--title-color);
    text-decoration: underline;
}


/* ========================== BREAKPOINTS  ==========================*/

/* For large devices */
@media screen and (max-width : 992px){
    .container{
        margin-left: var(--mb-1-5);
        margin-right: var(--mb-1-5);

    }

    
}
/* For medium devices */
@media screen and (max-width : 768px){

    body{
        margin: 0 0 var(--header-height) 0;
    }
    .section{
        padding: 2rem 0 4rem;

    }

    .section__subtitle{
        margin-bottom: var(--mb-3);
    }
}

@media screen and (max-width : 576px){

}
/* For small devices */
@media screen and (max-width : 350px){

    :root{
        --big-font-size : 2.25rem
    }
    .container{
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
        
    }
}